<div class="booklist">
  <% user.books.each do |book| %>
    <a href="<%= detail_path(book.code) %>">  
      <div class="bookrecord">
        
        <h4><%= book.title %></h4>
        <img src="<%= book.image_url %>">
      
      </div>
    </a>
  <% end %>
</div>