<div class="row">
  <div class="col-xs-12 col-md-5 jumbotron">
    <h3>アカウントをお持ちの方</h3>
    <p><a href="#" class="btn btn-primary">ログイン</a></p>
    
  </div>
  <div class="col-xs-12 col-md-offset-1 col-md-5 jumbotron">
    <h3>初めてのかた</h3>
    <p><%= link_to '新規登録',signup_path,class: 'btn btn-lg btn-primary' %></p>
  </div>
</div>