/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.booklist{
  display:  flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.bookrecord{
  width: 250px;
  height: 250px;
  border: 1px solid #42dff4;
  background-color: #d4f442;
  text-align: center;
  line-height: 150px;
  margin-top: 5px;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

.search_list{
  display:  flex;
}

#search_record{
  border: 1px solid #56f441;
  background-color: #42d9f4;
  text-align: center;
  line-height: 150px;
  margin-top: 5px;
  justify-content: space-between;
}

.thumb{
  float: left;
}

.description{
  float: right;
}