<div class="row">
  <div class="col-md-10">
    <% reviews.each do |review| %>
      
      <div class="media">
	      <a class="media-left" href="#">
		    <img src="<%= review.book.image_url %>">
	      </a>
	      <div class="media-body">
		      <%= link_to review.book.title,review_path(review),class: 'media-heading' %>
		        <%= review.content %>
	      </div>
      </div>
      
    <% end %>
  </div>
</div>